html,
body,
#artboard {
  width: 100%;
  height: 100%;
}

body {
  background-color: hsl(5, 95.4%, 78.2%);
  margin: 0;
}

.container {
  display: block;
  position: absolute;
  fill: none;

  transition: -webkit-transform 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.square {
  stroke-dashoffset: 0;

  transition: stroke-dashoffset 0.3s ease-in-out;
}